/* start home Section  */
.homesection {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  background: url(../public/homesectionBack.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
.homesection::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.homesectionContainer {
  z-index: 1000;
}
.homesectionContainer h1 {
  font-size: 82px;
  color: white;
  font-weight: 600;
  padding-left: 11rem;
  margin-top: 6rem;
}
.homesectionContainer .discoverContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.homesectionContainer .discover {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}
.homesectionContainer .numbersSlider {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 600;
}
.homesectionContainer .numbersSlider .line {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgb(72, 72, 72);
}
.homesectionContainer .numbersSlider .line::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
}
.homesectionContainer .conatctInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 10rem auto 1rem;
  font-weight: 700;
  line-height: 24px;
}
.homesectionContainer .conatctInfo .location {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 20px;
  padding: 8px 20px;
  background: #000000;
  border: 1px solid #fddf8b;
  border-radius: 25px;
}
.homesectionContainer .conatctInfo .location .icon {
  font-size: 25px;
  color: #fddf8b;
}
/* end home Section  */

/* start about Section  */
.aboutSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1rem auto;
}
.aboutSection .aboutSectionTitle {
  font-size: 50px;
  color: #fddf8b;
  margin: 3rem 2.5rem;
}
.aboutSection .contentContainer {
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: end;
  position: relative;
  margin-top: 2rem;
}
.aboutSection .contentContainer .aboutSectionParag {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  background: white;
  padding: 4rem 8rem;
  position: absolute;
  width: 803px;
  left: 89px;
  top: -20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* end about Section  */

/* start projects Section  */
.porjectsSection {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.porjectsSection h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #1e1e1e;
}
.porjectsSection .porjectsParag {
  max-width: 600px;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.porjectsSection .imgaesSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 0.9rem;
}
.porjectsSection .imgaesSlider .icon {
  color: #fddf8b;
  font-weight: 700;
  font-size: 70px;
  margin: 0 1.5rem;
  cursor: pointer;
}
.porjectsSection .imgContainer {
  max-width: 360px;
  height: 470px;
  position: relative;
}
.porjectsSection .imgContainer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.porjectsSection .imgContainer::before {
  content: "Sun Imperial Mansion";
  position: absolute;
  width: 200px;
  font-size: 27px;
  font-weight: 600;
  bottom: 35px;
  left: 30px;
  color: white;
  z-index: 2;
}
.porjectsSection .imgContainer .image {
  width: 100%;
  height: 100%;
}
/* end projects Section  */
/* start sun Section  */

.sunSection {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.sunSection .container {
  position: relative;
  width: 100%;
  height: 90vh;
}
.sunSection .sunImage1::after,
.sunImage2::after {
  background: rgba(0, 0, 0, 0.5);
}

.sunSection .sunImage1::after,
.sunSection .sunImage2::after,
.sunSection .sunImage3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
}
.sunSection .sunImage1,
.sunSection .sunImage2,
.sunSection .sunImage3 {
  position: absolute;
}
.sunSection .sunImage1 {
  top: 240px;
  right: 170px;
  z-index: 1;
}
.sunSection .sunImage2 {
  top: 40px;
  left: 240px;
}
.sunSection .sunImage3 {
  top: 380px;
  left: 300px;

}

.sunSection .suntitle {
  position: absolute;
  top: 280px;
  left: 280px;
  color: white;
  font-size: 54px;
  font-weight: 600;
  z-index: 2;
}
/* end sun Section  */
